<!doctype html>
<html>

<head>
  <title>Node Authentication</title>
</head>

<body>
  <form action="/login" method="post">
    <label>Email</label>
    <input type="text" class="form-control" name="email">
    <label>Password</label>
    <input type="password" class="form-control" name="password">
    <button type="submit" class="btn btn-warning btn-lg">Login</button>
  </form>
</body>

</html>
